export("auto",
       "geepack.lgst.batch.imputed",
       "geepack.lgst.batch",
       "geepack.lgst.imputed",
       "geepack.lgst.int.batch.imputed",
       "geepack.lgst.int.batch",
       "geepack.lgst.int.imputed",
       "geepack.lgst.int",
       "geepack.lgst",
       "geepack.quant.batch.imputed",
       "geepack.quant.batch",
       "geepack.quant.int.batch.imputed",
       "geepack.quant.int.batch",
       "glmm.lgst",
       "glmm.lgst.batch",       
       "GWplot",
       "lmepack.batch.imputed",
       "lmepack.batch",
       "lmepack.int.batch.imputed",
       "lmepack.int.batch",
       "lmeVpack.batch.imputed",
       "qq"
       )
import(geepack,coxme,lme4)
